header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75px;
  background-color: #5ab6fd;
}
h1 {
  color: white;
  
}
.Head{
  padding-bottom: 10px;
  margin-bottom: 80px;

}
